name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Build & Install
      run: dotnet build
    - name: Ensure browsers are installed
      run: pwsh bin/Debug/net10.0/playwright.ps1 install --with-deps
    # - name: Run your tests
    #   run: dotnet test
    - name: Run tests with xvfb
      run: xvfb-run dotnet test --logger "trx;LogFileName=test-results.trx"
    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: TestResults
        path: test-results.trx